/*!
 * @author Mohamed Muntasir
 * @link https://github.com/devmotheg
 */

/* General */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-page-color: #10cab7;
  --background-color-1: #f6f6f6;
  --main-paragraph-color: #24484f;
  --special-heading-color: #ebeced;
  --special-paragraph-color: #797979;
  --section-padding: 60px;
  --content-margin-top: 100px;
  --main-duration: 0.3s;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
}

body {
  margin: 0;
  min-width: 340px;
  display: grid;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--main-paragraph-color, #24484f);
}

button {
  border: none;
}

/* Components */

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.special-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  letter-spacing: -3px;
  color: var(--special-heading-color, #ebeced);
  font-weight: 700;
  text-align: center;
}

.special-heading + p {
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 20px;
  color: var(--special-paragraph-color, #797979);
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  .container {
    width: 706px;
  }

  .special-heading {
    font-size: 100px;
  }

  .special-heading + p {
    margin-top: -30px;
  }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .container {
    width: 932px;
  }
}

/** X-Large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  .container {
    width: 1138px;
  }
}

/* Header */

header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 60px;
}

header .links {
  position: relative;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hamburger-icon span {
  background: #333;
  margin-bottom: 5px;
  width: 100%;
  height: 2px;
}

.hamburger-icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration, 0.3s);
}

.links:hover span:nth-child(2) {
  width: 100%;
}

header .links ul {
  min-width: 200px;
  background: var(--background-color-1, #f6f6f6);
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  opacity: 0;
  visibility: hidden;
  transition: var(--main-duration, 0.3s);
  z-index: 1;
}

header .links:hover ul {
  visibility: visible;
  opacity: 1;
}

header .links ul::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent var(--background-color-1, #f6f6f6);
  position: absolute;
  right: 0;
  top: -30px;
}

header .links ul a {
  padding: 15px;
  color: #333;
  display: block;
  transition: var(--main-duration, 0.3s);
}

header .links ul a:hover {
  padding-left: 25px;
}

header .links ul li:not(li:last-child) a {
  border-bottom: 1px solid #ddd;
}

/* Landing */

.credits {
  font-weight: bold;
  color: var(--main-paragraph-color);
}

.credits:hover {
  text-decoration: underline;
}

.landing {
  background: url("../images/landing.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 64px);
  min-height: 600px;
}

.intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  color: var(--main-page-color, #10cab7);
  font-weight: 800;
}

.intro-text p {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.05em;
  line-height: 1.8;
}

/* Features */

.features {
  background: var(--background-color-1, #f6f6f6);
}

.features .container {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  text-align: center;
  gap: 20px;
}

.features .feature {
  padding: 20px;
  transition: var(--main-duration);
}

.features .feature:hover {
  box-shadow: 0px 4px 18px 0px rgb(36 39 46 / 10%);
}

.features .feature i {
  color: var(--main-page-color, #10cab7);
}

.features .feature h2 {
  margin-top: 1.5em;
  font-size: 1.1em;
  font-weight: 700;
}

.features .feature p {
  line-height: 1.7;
}

/* Services */

.services {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  text-align: center;
}

.services-content {
  gap: 30px;
  margin-top: var(--content-margin-top, 100px);
}

.services-content .image {
  text-align: center;
  position: relative;
  display: none;
}

.services-content .image img {
  width: 260px;
  border: 4px solid var(--main-paragraph-color, #24484f);
  box-shadow: black 0px 12px 4px -4px;
  transition: var(--main-duration, 0.3s);
  background: var(--main-paragraph-color, #24484f);
}

.services-content .image img:hover {
  transform: scale(1.05);
}

.services-content .image::before {
  content: "";
  background: var(--main-paragraph-color, #24484f);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}

.services-content .col:not(.col:last-child) {
  display: grid;
  grid-auto-rows: 1fr;
}

.service {
  display: flex;
  flex-direction: column;
}

.service:first-child {
  margin-bottom: 30px;
}

.service i {
  color: var(--main-page-color, #10cab7);
  flex-basis: 60px;
}

.service .text {
  flex: 1;
}

.service .text h3 {
  margin: 0 0 20px;
  font-weight: 600;
}

.service .text p {
  color: var(--main-paragraph-color, #24484f);
  font-weight: 300;
  line-height: 1.6;
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  .service {
    flex-direction: row;
  }

  .services-content .col:not(.col:last-child) {
    text-align: left;
  }
}

/** X-Large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  .services-content .image {
    display: block;
  }
}

/* Portfolio */

.portfolio {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  background: var(--background-color-1, #f6f6f6);
}

.portfolio-content {
  gap: 30px;
  margin-top: var(--content-margin-top, 100px);
}

.portfolio-content .card {
  background: white;
}

.portfolio-content .card > div:first-child {
  overflow: hidden;
}

.portfolio-content .card img {
  display: block;
  max-width: 100%;
  filter: blur(3px);
  transition: var(--main-duration, 0.3s);
}

.portfolio-content .card img:hover {
  filter: blur(0);
}

.portfolio-content .info {
  padding: 20px;
}

.portfolio-content .info h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.portfolio-content .info p {
  color: var(--main-paragraph-color, #24484f);
  line-height: 1.6;
}

.portfolio .container button {
  margin-top: 40px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  transition: var(--main-duration, 0.3s);
  color: var(--main-paragraph-color, #24484f);
  border: 2px solid var(--main-paragraph-color, #24484f);
  display: block;
  padding: 10px 30px;
}

.portfolio .container button:hover {
  box-shadow: var(--main-paragraph-color) 0 80px 0px 1px inset;
  color: var(--main-page-color, #10cab7);
}

/* About */

.about {
  padding-top: var(--section-padding, 60px);
  padding-bottom: calc(var(--section-padding, 60px) + 50px);
}

.about-content {
  margin-top: var(--content-margin-top, 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-content .image {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.about-content .image img {
  width: 250px;
  display: block;
  margin-bottom: 60px;
  border: 4px solid var(--main-paragraph-color, #24484f);
  box-shadow: black 0px 12px 4px -4px;
  transition: var(--main-duration, 0.3s);
  background: var(--main-paragraph-color, #24484f);
}

.about-content .image img:hover {
  transform: scale(1.05);
}

.about-content .text {
  flex-basis: calc(100% - 500px);
  text-align: center;
}

.about-content .text p:first-of-type {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 2;
}

.about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-paragraph-color, #24484f);
  border-bottom-color: var(--main-page-color, #10cab7);
  background: var(--main-paragraph-color, #24484f);
}

.about-content .text p:last-of-type {
  margin-top: 20px;
  line-height: 2;
  font-weight: 300;
  font-size: 0.9em;
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .about-content {
    flex-direction: row;
  }

  .about-content .image img {
    margin-bottom: 0;
  }

  .about-content .text {
    text-align: left;
  }

  .about-content .image::before {
    content: "";
    background: var(--main-paragraph-color, #24484f);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    left: -20px;
    z-index: -1;
  }

  .about-content .image::after {
    content: "";
    width: 120px;
    height: 248px;
    border-left: 80px solid var(--main-page-color, #10cab7);
    border-bottom: 80px solid var(--main-page-color, #10cab7);
    z-index: -1;
    position: absolute;
    right: -150px;
    top: -50px;
  }
}

/* Contact */

.contact {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  background: var(--background-color-1, #f6f6f6);
}

.contact .info {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  text-align: center;
}

.contact .label,
.contact .info > a {
  font-size: 23px;
  color: var(--main-paragraph-color, #24484f);
  font-weight: 800;
}

.contact .label {
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info > a {
  color: var(--main-page-color, #10cab7);
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  transition: var(--main-duration, 0.3s);
}

.contact .info > a:hover {
  opacity: 0.7;
}

.contact .social {
  margin-top: 10px;
}

.contact .social p {
  display: inline-block;
  font-size: 14px;
}

.contact .social a {
  font-size: 0;
  color: var(--main-paragraph-color, #24484f);
  margin-left: 10px;
}

.contact .social i::before {
  font-size: 14px;
  transition: var(--main-duration, 0.3s);
}

.contact .social a:hover i::before {
  color: var(--main-page-color, #10cab7);
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  .contact .label,
  .contact .info > a {
    font-size: 35px;
  }
}

/* Footer */

footer {
  padding: 10px;
  background: var(--main-paragraph-color, #24484f);
  text-align: center;
}

footer p {
  color: white;
}

footer span {
  color: var(--main-page-color, #10cab7);
  font-weight: 700;
}
